<div class="right_form">
    <div class="text ">
        <div class="text__mediumClone"><span>A medium clone</span></div>
        <div class="text__whoSays"><span>who says training projects don't have to look pretty</span></div>
    </div>
    <div class="tab">

        <mat-tab-group class="tab__buttons">
            <mat-tab label="LOGIN">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="SIGNUP">
                <app-signup></app-signup>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>